@model Timataka.Core.Models.ViewModels.CourseViewModels.CourseViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<section class="content">
    <h4>Create Course</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" autofocus/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisciplineId"></label>
                    <select name="DisciplineId" class="form-control">
                        @foreach (var item in ViewBag.Disciplines)
                        {
                        <option value="@item.Id" id="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Distance" class="control-label"></label>
                    <input asp-for="Distance" class="form-control" />
                    <span asp-validation-for="Distance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lap"></label>
                    <select name="Lap" class="form-control">
                        <option value="true" id="true">True</option>
                        <option value="false" id="false">False</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ExternalCourseId" class="control-label"></label>
                    <input asp-for="ExternalCourseId" class="form-control" />
                    <span asp-validation-for="ExternalCourseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Admin" asp-action="Courses" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
