@model Timataka.Core.Models.Entities.Sport

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<section class="content">
    <h2>Details</h2>

    <div>
        <h4>Sport</h4>
        <hr />
        <dl class="">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-sportId="@Model.Id" class="btn btn-warning-outline btn-sm">Edit</a>
        <a asp-controller="Admin" asp-action="Sports" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>