@{
    ViewData["Title"] = "Tímatökuþjónusta";
}

<section class="section">
    <div class="col-md-12">
        <div class="title-block" style="margin-top:30px;">

            <div class="row">
                <div class="col-md-12">
                    <h4><span class="title" style="margin: 10px;"> @ViewData["Title"] </span></h4>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 15px; margin-bottom: 15px;">
            <section class="example">
                <div class="col-md-12">
                    <h5 style="margin-top: 10px;">Þetta snýst nú allt um tíma!</h5>

                    <p>
                        Aðalþjónustan sem við bjóðum upp á er tímatökuþjónusta þar sem við
                        mætum á staðin með okkar tímatökutæki og er það grunnurinn í okkar
                        starfsemi.
                    </p>

                    <p>Inn í þeirri þjónustu er:</p>

                    <ul>
                        <li>
                            Uppsetning á gagnagrunni og keppendalistum
                        </li>
                        <li>
                            Leiga á tímatökubúnaði, snúrum og tölvubúnaði
                        </li>
                        <li>
                            Notkunargjald fyrir tímatökuflögur
                        </li>
                        <li>
                            Vinna starfsmanns
                        </li>
                        <li>
                            Úrvinnsla úrslita samtímis og keppendur skila sér í mark.
                        </li>
                    </ul>
                    <p>
                        Ef ykkur vantar skráningarsíðu fyrir keppendur þá getum við útvegað
                        slíkt samhliða tímatökuþjónustunni. Þar stendur valið milli þess
                        að hafa þetta einfalda skráningarsíðu þar sem keppendur geta
                        aðeins skráð sig til leiks en ekki greitt þátttökugjald og svo
                        er hægt að fá tengingu við greiðslugátt frá skráningarkerfinu ef
                        þess er óskað.
                    </p>
                    <p>
                        Einfalt viðmót fylgir skráningarkerfinu til að bæta við, breyta
                        eða eyða út þátttakendum auk þess sem þátttakendur hafa möguleika
                        á því að breyta skráningu eftir á.
                    </p>
                    Tíma í síma er svo nýjung sem við kynntum árið 2013 þar sem við
                    bjóðum upp á þá aukaþjónustu að senda SMS skeyti með lokatíma keppanda
                    í símanúmer hans þegar hann kemur yfir marklínuna. SMS skeytið skilar
                    sér í síma keppanda innan 30 sekúndna frá því hann kom yfir línuna
                    (með smá undantekningum í allra stærstu mótunum).
                    <p>
                        Hugsanlegt er að bjóða upp á að senda SMS í fleiri númer tengd
                        keppanda og einnig að tengja SMS sendingarnar við millitíma þannig
                        að fólk nákomið keppandanum getur fengið SMS um hvernig honum gengur.
                    </p>

                    <p>
                        Ef mótið fer fram á stað þar sem internet tenging er í boði
                        (3G eða 4G tenging dugar) þá er hægt að bjóða upp á að birta
                        úrslit beint inn á vef Tímataka.net, eða öðrum vef ef þess er
                        óskað, og eru úrslitin uppfærð þangað inn innan nokkurra sekúndna
                        (1-10 sek) frá því keppandi kom yfir marklínuna.
                    </p>
                    <p>
                        Ef millitímar eru teknir þá koma þeir líka inn á vefinn ef þess er óskað.
                    </p>
                </div>
            </section>

        </div>
    </div>
</section>





