@{
    ViewData["Title"] = "Hafðu samband við okkur";
}
<h2>@ViewData["Title"]</h2>
<h5>Ef þú hefur spurningar eða athugasemdir þá endilega hafðu samband.</h5>

<address>
    Brautarholt 7<br />
    400 Ísafirði<br />
    <abbr title="Phone">P:</abbr>
    858 7373
</address>

<address>
    <strong>Birgir Þór: </strong> <a href="mailto:timataka@timataka.net">timataka@timataka.net</a><br />
</address>
