@model Timataka.Core.Models.ViewModels.HeatViewModels.ContestantInHeatViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<section class="content">
    <h4>Edit Contestant</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditContestant">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="HeatId" value="@Model.HeatId" />
                <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                <div class="form-group">
                    <label asp-for="Bib" class="control-label"></label>
                    <input asp-for="Bib" class="form-control" />
                    <span asp-validation-for="Bib" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Team" class="control-label"></label>
                    <input asp-for="Team" class="form-control" />
                    <span asp-validation-for="Team" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Admin" asp-action="Heat" asp-route-id="@Model.HeatId" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
