@model Timataka.Core.Models.ViewModels.CategoryViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<section class="content">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Category</h4>
        <hr />
        <dl>
            <dt>
                Name
            </dt>
            <dd>
                @Model.Name
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="EventId" value="@Model.EventId" />
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            <a asp-controller="Admin" asp-action="Categories" asp-route-id="@Model.EventId">Back to List</a>
        </form>
    </div>
</section>
