@model object

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<section class="content">
    <div class="title-block">
        <h3 class="title"> Grid </h3>
        <p class="title-description"> Grid elements </p>
    </div>
</section>