@model object

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<section class="content">

    <div class="title-block">
        <div class="row">
            <div class="col-md-12">
                <span class="title"> Roles </span>
                <a href="#" class="btn btn-primary btn-sm rounded-s"> Add New </a>
            </div>
        </div>
    </div>

    <div class="items-search">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control boxed rounded-s" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary rounded-s btn-lg" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-title-block">
                    </div>
                    <section class="section">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="card-title-block">
                                        <h3 class="title"> Striped rows </h3>
                                    </div>
                                    <section class="example">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Role Name</th>
                                                <th>Last Name</th>
                                                <th>Username</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>mdo</td>
                                            </tr>
                                            <tr>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>fat</td>
                                            </tr>
                                            <tr>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>twitter</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>

</section>
