@model IEnumerable<Timataka.Core.Models.Dto.AdminDTO.UserRolesDto>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<section class="content">

    <div class="title-block">
        <div class="row">
            <div class="col-md-12">
                <span class="title"> Roles </span>
                <a asp-action="AddRole" class="btn btn-primary btn-sm rounded-s"> Add New </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:10px;">
                            <section class="example">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Role Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var role in Model)
                                        {
                                            <tr>
                                                <td>@role.Name</td>
                                                <th>
                                                    <button type="button" class="btn btn-success btn-sm">Add User</button>
                                                    <button type="button" class="btn btn-warning btn-sm">Edit</button>
                                                </th>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</section>
