@model object

@{
    ViewBag.Title = "Users";
    ViewBag.SubTitle = "Manage users";
    Layout = "_AdminLayout";
}


<section class="content grid-page">
    <div class="title-block">
        <h3 class="title">@ViewBag.Title</h3>
        <p class="title-description">@ViewBag.SubTitle</p>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-12">
                <div class="card sameheight-item">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Example: Stacked-to-horizontal </h3>
                        </div>
                        <section class="section">
                            <p>
                                Using a single set of <code>.col-md-*</code> grid classes, you can create a default grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal
                                on desktop (medium) devices. Place grid columns in any <code>.row</code>.
                            </p>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
