@model object

@{
    ViewBag.Title = "Users";
    ViewBag.SubTitle = "Manage users";
    Layout = "_AdminLayout";
}


<section class="content">

    <div class="title-block">
        <div class="row">
            <div class="col-md-12">
                <span class="title"> Users </span>
                <a href="#" class="btn btn-primary btn-sm rounded-s"> Add New </a>
            </div>
        </div>
    </div>

    <div class="items-search">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control boxed rounded-s" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary rounded-s btn-lg" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section class="section">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="title"> All Users </h3>
                                </div>
                                <section class="example">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>Date of Birth</th>
                                                    <th>SSN</th>
                                                    <th>Phone</th>
                                                    <th>Country</th>
                                                    <th>Nationality</th>
                                                    <th>Gender</th>
                                                    <th>Deleted</th>
                                                    <th>Roles</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Jon Jonsson</td>
                                                    <td>jon@gmail.com</td>
                                                    <td>jon@gmail.com</td>
                                                    <td>15/12/1999</td>
                                                    <td>0304878879</td>
                                                    <td>354-5555555</td>
                                                    <td>Iceland</td>
                                                    <td>Iceland</td>
                                                    <td>Male</td>
                                                    <td>False</td>
                                                    <td>Admin</td>
                                                    <td>
                                                        <button type="button" class="btn btn-warning btn-sm">Edit</button>
                                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Johanna Sigurðardóttir</td>
                                                    <td>johanna@gmail.com</td>
                                                    <td>johanna@gmail.com</td>
                                                    <td>05/10/1989</td>
                                                    <td>0304878879</td>
                                                    <td>354-5455454</td>
                                                    <td>Iceland</td>
                                                    <td>Iceland</td>
                                                    <td>Female</td>
                                                    <td>False</td>
                                                    <td></td>
                                                    <td>
                                                        <button type="button" class="btn btn-warning btn-sm">Edit</button>
                                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Johanna Sigurðardóttir</td>
                                                    <td>johanna@gmail.com</td>
                                                    <td>johanna@gmail.com</td>
                                                    <td>05/10/1989</td>
                                                    <td>0304878879</td>
                                                    <td>354-5455454</td>
                                                    <td>Iceland</td>
                                                    <td>Iceland</td>
                                                    <td>Female</td>
                                                    <td>True</td>
                                                    <td></td>
                                                    <td>
                                                        <button type="button" class="btn btn-warning btn-sm">Edit</button>
                                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</section>
